@{
    ViewBag.Title = "Dune Buggys";
}

<div class="banner" style="    background: url(https://www.degree53.com/~/media/images/blogs/fuerteventura%202017/degree%2053%20in%20fuerteventura%203.ashx?la=en&w=700);
    background-size: 100% 100%;
    ">
    <h1>Dune Buggy</h1>
    <p class="lead">Dune buggys, it's what we do. </p>
    <p><a href="#">Learn more</a></p>
</div>

<div>
    <div class="column-1">
        <div class="card">
            <h2>See our products</h2>
            <p>
                Our large Dune buggy selection ranges from 100cc all the way upto 4 person 1100cc engine Dune buggies.
            </p>
            <p><a href="/products">Learn more</a></p>
        </div>
    </div>
    <div class="column-1">
        <div class="card">
            <h2>See our Experiences</h2>
            <p>We like to take out groups of people for Dune buggy experiences</p>
            <p><a href="https://www.degree53.com/blog/2017/may/degree-53-team-holiday-in-fuerteventura">Find out more</a></p>
        </div>
    </div>
    <div class="column-1">
        <div class="card">
            <h2>About us</h2>
            <p>You can find out more information on us here.</p>
            <p><a href="/home/about">See more</a></p>
        </div>
    </div>
</div>